autom4te.cache/
*~
config.h
config.log
configure
Makefile.in
Makefile
intltool-extract
intltool-merge
intltool-update
stamp-h1
data/Makefile.in
data/Makefile
data/Makefile.u1conflict
data/spectre.desktop.in
data/spectre.desktop.in.u1conflict
data/sepctre.desktop
data/config/Makefile.in
data/config/Makefile
data/config/Makefile.u1conflict
data/ui/Makefile.in
data/ui/Makefile
data/ui/Makefile.u1conflict
src/.deps/
src/.libs/
src/*.o
