autom4te.cache/
*~
config.h
config.log
config.status
configure
Makefile
Makefile.in
Makefile.u1conflict
intltool-extract
intltool-merge
intltool-update
stamp-h1
data/spectre.desktop
data/spectre.desktop.in
data/spectre.desktop.in.u1conflict
src/.deps/
src/.libs/
src/*.o
src/spectre
