[Desktop Entry]
Name=Spectre Acoustic Spectrum Analyzer
Comment=View the spectrum of most any audio file.
Exec=spectre
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Audio;
